---
layout: layout
title: Blog
---

{% for post in site.posts offset: 0 limit: 50 %}
<div class="row">
    <div class="span7">
        <h4><strong><a href="{{ post.url }}">{{ post.title }}</a></strong></h4>
        <p>
            <i class="icon-calendar"></i> {{ post.date | date: "%B %e, %Y" }}
        </p>
        <p>
            {{ post.content }}
        </p>
        <p>
           <i class="icon-tags"></i> Tags :{% for tag in post.tags %} <a href="/tags/{{ tag }}" rel="tooltip" title="View posts tagged with &quot;{{ tag }}&quot;"><span class="label label-info">{{ tag }}</span></a>  {% if forloop.last != true %} {% endif %} {% endfor %}
        </p>
        <hr>
    </div>
</div>
{% endfor %}

<p><a href="archive.html">Archive</a></p>

